h1 Digital Millennium Copyright Act (DMCA) Notice

| If you believe that material available on our sites, including those hosted at 
| BeatThread.com, infringes on your copyright(s), please notify us by providing a DMCA 
| notice. Upon receipt of a valid and complete notice, we will remove the material and 
| make a good faith attempt to contact the user who uploaded the material by email. 
| Please note that we are unable to process DMCA notices that refer to sites hosted on 
| third party servers.
p
| Before submitting a DMCA notice, it’s important to consider if the manner in which the 
| material is used falls under fair use. If you are not sure whether material located on a 
| BeatThread.com site infringes your copyright, or if it is subject to fair use protections, 
| you should first consider seeking legal advice.
p
strong
  | Your DMCA notice will be forwarded to the party that made the material available, 
  | and also may be sent to third parties such as ChillingEffects.org.
p

| Please follow these steps to file a notice:
ul
  li
    strong Verify that the content in question is hosted by BeatThread.
  li
    strong Contact the user directly.
    |​ See if the matter can be resolved directly between you and the user.
  li Send your complaint to our designated agent (team@beatthread.com), if the issue cannot be resolved directly with the user.

| As required by the DMCA, we have a policy to terminate users that we consider to be 
| repeat infringers. Although we won’t share the specifics of our repeat infringer policy 
| (we don’t want anyone to game the system, after all), we believe that it strikes the right 
| balance of protecting the rights of copyright owners as well as protecting legitimate 
| users from wrongful termination.
p
| Please note that notices that are successfully countered, rejected on fair use grounds, or deemed to be fraudulent are not counted against a user.
