h1 BeatThread Terms of Use

| Welcome to BeatThread, a service provided by BeatThread Limited (“BeatThread”, “we” 
| “our”, or “us”).
p
| These Terms of Use govern your use of BeatThread.biz and (together, the “Website”), 
| our mobile and desktop apps (our "Apps") and all related players, widgets, tools, 
| applications, data, software, APIs (which may also be subject to separate API Terms of 
| Use) and other services provided by BeatThread (the “Services”).
p
| These Terms of Use constitute a legally binding agreement (the “Agreement”) between 
| you and BeatThread in relation to your use of the Website, Apps and Services 
| (together, the “Platform”).
br
br

h2 Acceptance of Terms of Use

| If you do not agree to any of the provisions set out in those documents, you should not 
| use the Website, Apps or any of the Services. By accessing or using the Platform, 
| registering an account, or by viewing, accessing, streaming, uploading or downloading 
| any information or content from or to the Platform, you represent and warrant that you 
| have read and understood the Terms of Use, will abide by them, and that you are either 
| 18 years of age or more, or the applicable age of majority in your jurisdiction, or if you 
| are under 18 years of age or the age of majority in your jurisdiction, you are 13 years 
| of age or more and have your parent(s)’ or legal guardian(s)’ permission to use the 
| Platform.
br
br

h2 Changes to Terms of Use

| We reserve the right to change, alter, replace or otherwise modify these Terms of Use 
| at any time. The date of last modification is stated at the end of these Terms of Use. It 
| is your responsibility to check this page from time to time for updates.
p
| When we make any updates to these Terms of Use, we will highlight this fact on the 
| Website. In addition, if you register an account and these Terms of Use are 
| subsequently changed in any material respect (for example, for security, legal, orregulatory reasons), we will notify you in advance by sending a message to your 
| BeatThread account and/or an email to the email address that you have provided to us, 
| and the revised Terms of Use will become effective as soon as one week after such 
| notification. You will have no obligation to continue using the Platform following any 
| such notification, but your continued use of the Platform will constitute your acceptance 
| of the revised Terms of Use.
br
br

h2 Description of the Platform

| The Platform is a hosting service. Registered users of the Platform may submit, upload 
| and post audio, text, photos, pictures, graphics, comments, and other content, data or 
| information (“Content”), which will be stored by BeatThread at the direction of such 
| registered users, and may be shared and distributed by such registered users, and 
| other users of the Platform, using the tools and features provided as part of the 
| Platform and accessible via the Website, Apps and elsewhere. The Platform also enables 
| registered users to interact with one another and to contribute to discussions, and 
| enables any user of the Website, Apps or certain Services (who may or may not be 
| registered users of the Platform) to view, listen to and share Content uploaded and 
| made available by registered users.
p
| We may, from time to time, release new tools and resources on the Website, release 
| new versions of our Apps, or introduce other services and/or features for the Platform. 
| Any new services and features will be subject to these Terms of Use as well as any 
| additional terms of use that we may release for those specific services or features.
br
br

h2 Your BeatThread Account

| You are not obliged to register to use the Platform. However, access to the Apps and 
| certain Services is only available to registered users. As an example, our App, 
| BeatThread, enables registered users, who upload and make available their Content to 
| other users, to receive instant feedback on their tracks, communicate with their 
| listeners and manage their Content any time.
p
| When you register to use the Platform, you will provide us with your email address, and 
| will choose a username and password for your account. You must ensure that the email 
| address that you provide is, and remains, valid. Your email address and any other information you chose to provide about yourself will be treated in accordance with this 
| Terms of Service.
p
| You are solely responsible for maintaining the confidentiality and security of your 
| username and password, and you will remain responsible for all use of your username 
| and password, and all activity emanating from your account, whether or not such 
| activity was authorized by you.
p
| If your username or password is lost or stolen, or if you believe that your account has 
| been accessed by unauthorized third parties, you are advised to notify BeatThread at 
= mail_to 'team@beatthread.biz​' 
|  and should change your password at the earliest possible 
| opportunity.
p
| We reserve the right to disallow, cancel, remove or reassign certain usernames and 
| permalinks in appropriate circumstances, as determined by us in our sole discretion, 
| and may, with or without prior notice, suspend or terminate your account if activities 
| occur on that account which, in our sole discretion, would or might constitute a violation 
| of these Terms of Use or an infringement or violation of the rights of any third party, or 
| of any applicable laws or regulations.
p
| You may terminate your account at any time.
br
br

h2 Your Use of the Platform

| Subject to your strict compliance with these Terms of Use at any and all times during 
| your use of the Platform, BeatThread grants you a limited, personal, non-exclusive, 
| revocable, non-assignable and non-transferable right and license to use the Platform in 
| order to view Content uploaded and posted to the Website, to listen to audio Content 
| streamed from the Platform or offline and to share and download audio Content using 
| the features of the Platform where the appropriate functionality has been enabled by 
| the user who uploaded the relevant Content (the “Uploader”), and subject to the 
| territorial availability of that feature and audio Content.
p
| In addition, if you register to use the Platform, and subject to your strict compliance 
| with these Terms of Use at any and all times during your use of the Platform, 
| BeatThread grants you a limited, personal, non-exclusive, revocable, non-assignable 
| and non-transferable right and license to:
p
| (i) submit, upload or post Content to and keep such Content available on the Platform 
| strictly as permitted in accordance with these Terms of Use
p
| (ii) participate in the community areas and communicate with other members of the 
| BeatThread community strictly in accordance with these Terms of Use.
p
| (iii) use Apps and other Services provided as part of the Platform strictly as permitted 
| in accordance with these Terms of Use and any other terms applicable to those Apps or 
| Services from time to time.
p
| The above licenses are conditional upon your strict compliance with these Terms of Use 
| at any and all times during your use of the Platform, including, without limitation, the 
| following:
p
| (i) You must not copy, rip or capture, or attempt to copy, rip or capture, any audio 
| Content from the Platform or any part of the Platform, other than by means of 
| download or store for offline listening in circumstances where the relevant Uploader has 
| elected to permit downloads or offline listening of the relevant item of Content.
p
| (ii) You must not adapt, copy, republish, make available or otherwise communicate to 
| the public, display, perform, transfer, share, distribute or otherwise use or exploit any 
| Content on or from the Platform at any and all times, except (i) where such Content is 
| Your Content at any and all times during your use of the applicable Content, or (ii) as 
| permitted under these Terms of Use, and within the parameters set by the Uploader 
| (for example, under the terms of Creative Commons licenses selected by the Uploader).
p
| (iii) You must not use any Content (other than Your Content) in any way that is 
| designed to create a separate content service or that replicates any part of the Platform 
| offering. (iv) You must not employ scraping or similar techniques to aggregate, 
| repurpose, republish or otherwise make use of any Content.
p
| (v) You must not employ any techniques or make use of any services, automated or 
| otherwise, designed to misrepresent the popularity of Your Content on the Platform, or 
| to misrepresent your activity on the Platform, including without limitation by the use of 
| bots, botnets, scripts, apps, plugins, extensions or other automated means to register 
| accounts, log in, add followers to your account, play Content, follow or unfollow other 
| users, send messages, post comments, or otherwise to act on your behalf, particularly 
| where such activity occurs in a multiple or repetitive fashion. You must not offer orpromote the availability of any such techniques or services to any other users of the 
| Platform.
p
| (vi) You must not alter or remove, or attempt to alter or remove, any trademark, 
| copyright or other proprietary or legal notices contained in, or appearing on, the 
| Platform or any Content appearing on the Platform (other than Your Content).
p
| (vii) You must not, and must not permit any third party to, copy or adapt the object 
| code of the Website or any of the Apps or Services, or reverse engineer, reverse 
| assemble, decompile, modify or attempt to discover any source or object code of any 
| part of the Platform, or circumvent or attempt to circumvent or copy any copy 
| protection mechanism or territorial restrictions or access any rights management 
| information pertaining to Content other than Your Content.
p
| (viii) You must not use the Platform to upload, post, store, transmit, display, copy, 
| distribute, promote, make available, continue to make available or otherwise 
| communicate to the public:
ul
  li
    | any Content that is abusive, libellous, defamatory, pornographic or obscene, 
    | that promotes or incites violence, terrorism, illegal acts, or hatred on the 
    | grounds of race, ethnicity, cultural identity, religious belief, disability, gender, 
    | identity or sexual orientation, or is otherwise objectionable in BeatThread’s 
    | reasonable discretion;
  li
    | any information, Content or other material that violates, plagiarizes, 
    | misappropriates or infringes the rights of third parties including, without 
    | limitation, copyright, trademark rights, rights of privacy or publicity, 
    | confidential information or any other right; or
  li
    | any Content that violates, breaches or is contrary to any law, rule, regulation, 
    | court order or is otherwise is illegal or unlawful in BeatThread’s reasonable 
    | opinion;
  li
    | any material of any kind that contains any virus, Trojan horse, spyware, 
    | adware, malware, bot, time bomb, worm, or other harmful or malicious 
    | component, which or might overburden, impair or disrupt the Platform or 
    | servers or networks forming part of, or connected to, the Platform, or which 
    | does or might restrict or inhibit any other user's use and enjoyment of the 
    | Platform; or
  li
    | any unsolicited or unauthorized advertising, promotional messages, spam or 
    | any other form of solicitation. 
| (ix) You must not commit or engage in, or encourage, induce, solicit or promote, any 
| conduct that would constitute a criminal offense, give rise to civil liability or otherwise 
| violate any law or regulation.
p
| (x) You must not rent, sell or lease access to the Platform, or any Content on the 
| Platform, although this shall not prevent you from including links from Your Content to 
| any legitimate online download store from where any item of Your Content may be 
| purchased.
p
| (xi) You must not deliberately impersonate any person or entity or otherwise 
| misrepresent your affiliation with a person or entity, for example, by registering an 
| account in the name of another person or company, or sending messages or making 
| comments using the name of another person.
p
| (xii) You must not stalk, exploit, threaten, abuse or otherwise harass another user, or 
| any BeatThread employee.
p
| (xiii) You must not use or attempt to use another person's account, password, or other 
| information, unless you have express permission from that other person.
p
| (xiv) You must not sell or transfer, or offer to sell or transfer, any BeatThread account 
| to any third party without the prior written approval of BeatThread.
p
| (xv) You must not collect or attempt to collect personal data, or any other kind of 
| information about other users, including without limitation, through spidering or any 
| form of scraping.
p
| (xvi) You must not violate, circumvent or attempt to violate or circumvent any data 
| security measures employed by BeatThread or any Uploader; access or attempt to 
| access data or materials which are not intended for your use; log into, or attempt to log 
| into, a server or account which you are not authorized to access; attempt to scan or 
| test the vulnerability of BeatThread’s servers, system or network or attempt to breach 
| BeatThread data security or authentication procedures; attempt to interfere with the 
| Website or the Services by any means including, without limitation, hacking BeatThread 
| servers or systems, submitting a virus, overloading, mail-bombing or crashing. Without 
| limitation to any other rights or remedies of BeatThread under these Terms of Use, 
| BeatThread reserves the right to investigate any situation that appears to involve anyof the above, and may report such matters to, and co-operate with, appropriate law 
| enforcement authorities in prosecuting any users who have participated in any such 
| violations.
p
| You agree to comply with the above conditions at any and all times during your use of 
| the Platform, and acknowledge and agree that BeatThread has the right, in its sole 
| discretion, to terminate your account or take such other action as we see fit if you 
| breach any of the above conditions or any of the other terms of these Terms of Use. 
| This may include taking court action and/or reporting offending users to the relevant 
| authorities.
br
br

h2 Your Content

| Any and all audio, text, photos, pictures, graphics, comments, and other content, data 
| or information that you upload, store, transmit, submit, exchange or make available to 
| or via the Platform (hereinafter "Your Content") is generated, owned and controlled 
| solely by you, and not by BeatThread.
p
| BeatThread does not claim any ownership rights in Your Content, and you hereby 
| expressly acknowledge and agree that Your Content remains your sole responsibility.
p
| Without prejudice to the conditions set forth in Your Use of the Platform you must not 
| upload, store, distribute, send, transmit, display, perform, make available, continue to 
| make available or otherwise communicate to the public any Content to which you do 
| not hold the necessary rights. In particular, any unauthorized use of copyright 
| protected material within Your Content (including by way of reproduction, distribution, 
| modification, adaptation, public display, public performance, preparation of derivative 
| works, making available or otherwise communicating to the public via the Platform), 
| independent of wheteher it is or becomes unauthorized at a later point, may constitute 
| an infringement of third party rights and is ​ strictly prohibited. Any such infringements 
| may result in termination of your access to the Platform as described in the Repeat 
| Infringers section below, and may also result in civil litigation or criminal prosecution by 
| or on behalf of the relevant rightsholder.
p
| We may, from time to time, invite or provide you with means to provide feedback 
| regarding the Platform, and in such circumstances, any feedback you provide will bedeemed non-confidential and BeatThread shall have the right, but not the obligation, to 
| use such feedback on an unrestricted basis.
br
br

h2 Grant of License

| By uploading or posting Your Content to the Platform, you initiate an automated 
| process to transcode any audio Content and direct BeatThread to store Your Content on 
| our servers, from where you may control and authorize the use, ways of reproduction, 
| transmission, distribution, public display, public performance, making available 
| (including whether users will be permitted to listen to your Content offline) and other 
| communication to the public of Your Content on the Platform and elsewhere using the 
| Services. To the extent it is necessary in order for BeatThread to provide you with any 
| of the aforementioned hosting services, to undertake any of the tasks set forth in these 
| Terms of Use, including the distribution of advertising or other promotional material on 
| our Platform and/or to enable your use of the Platform, you hereby grant such licenses 
| to BeatThread on a limited, worldwide, non-exclusive, royalty-free and fully paid basis.
p
| By uploading Your Content to the Platform, you also grant a limited, worldwide, 
| non-exclusive, royalty-free, fully paid up, license to other users of the Platform, and to 
| operators and users of any other websites, apps and/or platforms to which Your 
| Content has been shared or embedded using the Services (“Linked Services”), to use, 
| copy, listen to offline, repost, transmit or otherwise distribute, publicly display, publicly 
| perform, adapt, prepare derivative works of, compile, make available and otherwise 
| communicate to the public, Your Content utilizing the features of the Platform from time 
| to time, and within the parameters set by you using the Services. You can limit and 
| restrict the availability of certain of Your Content to other users of the Platform, and to 
| users of Linked Services, at any time using the permissions tab in the track edit section 
| for each sound you upload, subject to the provisions of the Disclaimer section below. 
| Notwithstanding the foregoing, nothing in these Terms of Use grants any rights to any 
| other user of the Platform with respect to any proprietary name, logo, trademark or 
| service mark uploaded by you as part of Your Content (for example, your profile 
| picture) (“Marks”), other than the right to reproduce, publicly display, make available 
| and otherwise communicate to the public those Marks, automatically and without 
| alteration, as part of the act of reposting sounds with which you have associated those 
| Marks.
p
| The licenses granted in this section are granted separately with respect to each item of 
| Your Content that you upload to the Platform. Licenses with respect to audio Content, 
| and any images or text within your account, will (subject to the following paragraph of 
| these Terms of Use) terminate automatically when you remove such Content from your 
| account. Licenses with respect to comments or other contributions that you make on 
| the Platform will be perpetual and irrevocable, and will continue notwithstanding any 
| termination of your account.
p
| Removal of audio Content from your account may or may not result in the deletion of 
| the relevant files from BeatThread systems and servers. This decision will be at the 
| discretion of BeatThread. However, notwithstanding the foregoing, you hereby 
| acknowledge and agree that once Your Content is distributed to a Linked Service, 
| BeatThread is not obligated to ensure the deletion of Your Content from any servers or 
| systems operated by the operators of any Linked Service, or to require that any user of 
| the Platform or any Linked Service deletes any item of Your Content. Furthermore, if 
| you authorize any of Your Content to be available for offline listening, after deletion of 
| an item of Your Content or removal from the ability for other users to listen to the 
| applicable Content offline, the applicable Content may still be temporarily available to 
| other users of the Platform who saved the applicable Content for offline listening on 
| their devices, but no longer than 30 days from the time of deletion.
p
| Any Content other than Your Content is the property of the relevant Uploader, and is or 
| may be subject to copyright, trademark rights or other intellectual property or 
| proprietary rights. Such Content may not be downloaded, reproduced, distributed, 
| transmitted, re-uploaded, republished, displayed, sold, licensed, made available or 
| otherwise communicated to the public or exploited for any purposes except via the 
| features of the Platform from time to time and within the parameters set by the 
| Uploader on the Platform or with the express written consent of the Uploader. Where 
| you repost another user’s Content, or include another user’s Content in a playlist or 
| station or where you listen to another user’s Content offline, you acquire no ownership 
| rights whatsoever in that Content. Subject to the rights expressly granted in this 
| section, all rights in Content are reserved to the relevant Uploader.
br
br

h2 Representations and Warranties

| You hereby represent and warrant to BeatThread as follows: (i) Your Content, and each 
| and every part thereof, is an original work by you, or you have obtained all rights, 
| licenses, consents and permissions necessary in order to use at any and all times 
| during any applicable use, and (if and where relevant) to authorize BeatThread to use, 
| Your Content pursuant to these Terms of Use, including, without limitation, the right to 
| upload, reproduce, store, transmit, distribute, share, publicly display, publicly perform, 
| make available (including for listening offline) and otherwise communicate to the public 
| Your Content, and each and every part thereof, on, through or via the Platform, any 
| and all Services and any Linked Services.
p
| (ii) Your Content and the availability thereof on the Platform does not and will not 
| infringe or violate the rights of any third party, including, without limitation, any 
| intellectual property rights, performers’ rights, rights of privacy or publicity, or rights in 
| confidential information.
p
| (iii) You have obtained any and all necessary consents, permissions and/or releases 
| from any and all persons appearing in Your Content in order to include their name, 
| voice, performance or likeness in Your Content and to publish the same on the Platform 
| and via any Linked Services.
p
| (iv) Your Content, including any comments that you may post on the Website, is not 
| and will not be unlawful, abusive, libellous, defamatory, pornographic or obscene, and 
| will not promote or incite violence, terrorism, illegal acts, or hatred on the grounds of 
| race, ethnicity, cultural identity, religious belief, disability, gender, identity or sexual 
| orientation.
p
| (v) Your Content does not and will not create any liability on the part of BeatThread, its 
| subsidiaries, affiliates, successors, and assigns, and their respective employees, agents, 
| directors, officers and/or shareholders. BeatThread reserves the right to remove Your 
| Content, suspend or terminate your access to the Platform and/or pursue all legal 
| remedies if we believe that any of Your Content breaches any of the foregoing 
| representations or warranties, or otherwise infringes another person's rights or violates 
| any law, rule or regulation.
br
br

h2 Liability for Content

| You hereby acknowledge and agree that BeatThread (i) stores Content and other 
| information at the direction, request and with the authorization of its users, (ii) acts 
| merely as a passive conduit and/or host for the uploading, storage and distribution of 
| such Content, and (iii) plays no active role and gives no assistance in the presentation 
| or use of the Content. You are solely responsible for all of Your Content that you 
| upload, post or distribute to, on or through the Platform, and to the extent permissible 
| by law, SouBeatThreadndCloud excludes all liability with respect to all Content 
| (including Your Content) and the activities of its users with respect thereto.
p
| You hereby acknowledge and agree that BeatThread cannot and does not review the 
| Content created or uploaded by its users, and neither BeatThread nor its subsidiaries, 
| affiliates, successors, assigns, employees, agents, directors, officers and shareholders 
| has any obligation, and may, but does not undertake or assume any duty to, monitor 
| the Platform for Content that is inappropriate, that does or might infringe any third 
| party rights, or has otherwise been uploaded in breach of these Terms of Use or 
| applicable law.
p
| BeatThread and its subsidiaries, affiliates, successors, assigns, employees, agents, 
| directors, officers and shareholders hereby exclude, to the fullest extent permitted by 
| law, any and all liability which may arise from any Content uploaded to the Platform by 
| users, including, but not limited to, any claims for infringement of intellectual property 
| rights, rights of privacy or publicity rights, any claims relating to publication of abusive, 
| defamatory, pornographic, or obscene material, or any claims relating to the 
| completeness, accuracy, currency or reliability of any information provided by users of 
| the Platform. By using the Platform, you irrevocably waive the right to assert any claim 
| with respect to any of the foregoing against BeatThread or any of its subsidiaries, 
| affiliates, successors, assigns, employees, agents, directors, officers or shareholders.
br
br

h2 Reporting Infringements

| If you discover any Content on the Platform that you believe infringes your copyright, 
| please report this to us by emailing ​
= mail_to 'team@beatthread.biz​' 
|  and please make sure that 
| you include the following information:

ul
  li
    | a statement that you have identified Content on BeatThread that infringes your 
    | copyright or the copyright of a third party on whose behalf you are entitled to act; 
  li a description of the copyright work(s) that you claim have been infringed;
  li
    | a description of the Content that you claim is infringing and the BeatThread 
    | URL(s) where such Content can be located;
  li
    | your full name, address and telephone number, a valid email address on which 
    | you can be contacted, and your BeatThread user name if you have one;
  li
    | a statement by you that you have a good faith belief that the disputed use of 
    | the material is not authorized by the copyright owner, its agent, or the law; and 
  li
    | a statement by you that the information in your notice is accurate and that 
    | you are authorized to act on behalf of the owner of the exclusive right that is 
    | allegedly infringed;

| In addition, if you wish for your notice to be considered as a notice pursuant to the 
| United States Digital Millennium Copyright Act 17 U.S.C. §512(c), please also include 
| the following:

ul
  li
    | with respect to your statement that you are authorized to act on behalf of the 
    | owner of the exclusive right that is allegedly infringed, confirmation that such 
    | statement is made under penalty of perjury; and
  li your electronic or physical signature (which may be a scanned copy).

| If you discover any Content that you believe to be in violation of your trademark rights, 
| please report this to us by email at ​
= mail_to 'team@beatthread.biz​'
| . In all other cases, if you 
| discover Content that infringes or violates any of your other rights, which you believe is 
| defamatory, pornographic, obscene, racist or otherwise liable to cause widespread 
| offense, or which constitutes impersonation, abuse, spam or otherwise violates these 
| Terms of Use please report to us at 
= mail_to 'team@beatthread.biz​'
br
br

h2 Third Party Websites and Services

| The Platform may provide you with access to third party websites, databases, networks, 
| servers, information, software, programs, systems, directories, applications, products 
| or services, including without limitation, Linked Services (hereinafter“External 
| Services”). BeatThread does not have or maintain any control over External Services, 
| and is not and cannot be responsible for their content, operation or use. By linking or 
| otherwise providing access to any External Services, BeatThread does not give anyrepresentation, warranty or endorsement, express or implied, with respect to the 
| legality, accuracy, quality or authenticity of content, information or services provided by 
| such External Services.
p
| External Services may have their own terms of use and/or privacy policy, and may have 
| different practices and requirements to those operated by BeatThread with respect to 
| the Platform. You are solely responsible for reviewing any terms of use, privacy policy 
| or other terms governing your use of these External Services, which you use at your 
| own risk. You are advised to make reasonable enquiries and investigations before 
| entering into any transaction, financial or otherwise, and whether online or offline, with 
| any third party related to any External Services.
p
| You are solely responsible for taking the precautions necessary to protect yourself from 
| fraud when using External Services, and to protect your computer systems from 
| viruses, worms, Trojan horses, and other harmful or destructive content and material 
| that may be included on or may emanate from any External Services.
p
| BeatThread disclaims any and all responsibility or liability for any harm resulting from 
| your use of External Services, and you hereby irrevocably waive any claim against 
| BeatThread with respect to the content or operation of any External Services.
br
br

h2 External Services

| You are solely responsible for taking the precautions necessary to protect yourself from 
| fraud when using External Services, and to protect your computer systems from 
| viruses, worms, Trojan horses, and other harmful or destructive content and material 
| that may be included on or may emanate from any External Services.
p
| BeatThread disclaims any and all responsibility or liability for any harm resulting from 
| your use of External Services, and you hereby irrevocably waive any claim against 
| BeatThread with respect to the content or operation of any External Services.
br
br

h2 Blocking and Removal of Content

| Notwithstanding the fact that BeatThread has no legal obligation to monitor the Content 
| on the Platform, BeatThread reserves the right to block, remove or delete any Content 
| at any time, and to limit or restrict access to any Content, for any reason and withoutliability, including without limitation, if we have reason to believe that such Content 
| does or might infringe the rights of any third party, has been uploaded or posted in 
| breach of these Terms of Use or is otherwise unacceptable to BeatThread.
p
| Please also note that individual Uploaders have control over the audio Content that they 
| store in their account from time to time, and may remove any or all audio Content or 
| other Content without notice. You have no right of continued access to any particular 
| item of Content and BeatThread shall have no liability in the event that you are unable 
| to access an item of Content due to its removal from the Platform, whether by 
| BeatThread or the relevant Uploader.
br
br

h2 Repeat Infringers

| BeatThread will suspend or terminate your access to the Platform if BeatThread 
| determines, in its reasonable discretion, that you have repeatedly breached these 
| Terms of Use.
p
| If we receive a valid notification from a third party in accordance with our reporting 
| processes or applicable law that any of Your Content infringes the copyright or other 
| rights of such third party, or if we believe that your behavior violates ou terms of 
| service, we will send you an email warning to this effect. Any user that receives more 
| than two of these warnings is liable to have their access to the Platform terminated 
| forthwith.
p
| We will also suspend or terminate your account without warning if ordered to do so by a 
| court, and/or in other appropriate circumstances, as determined by BeatThread at its 
| discretion.
br
br

h2 Disclaimer

| THE PLATFORM, INCLUDING, WITHOUT LIMITATION, THE WEBSITE, THE APPS AND ALL 
| CONTENT AND SERVICES ACCESSED THROUGH OR VIA THE WEBSITE, THE APPS, THE 
| SERVICES OR OTHERWISE, ARE PROVIDED “AS IS”, “AS AVAILABLE”, AND “WITH ALL 
| FAULTS”.
p
| WHILST BeatThread USES REASONABLE ENDEAVORS TO CORRECT ANY ERRORS OR 
| OMISSIONS IN THE PLATFORM AS SOON AS PRACTICABLE ONCE THEY HAVE BEENBROUGHT TO BeatThread ATTENTION, BeatThread MAKES NO PROMISES, 
| GUARANTEES, REPRESENTATIONS OR WARRANTIES OF ANY KIND WHATSOEVER 
| (EXPRESS OR IMPLIED) REGARDING THE WEBSITE, THE APPS, THE SERVICES OR ANY 
| PART OR PARTS THEREOF, ANY CONTENT, OR ANY LINKED SERVICES OR OTHER 
| EXTERNAL SERVICES. BeatThread DOES NOT WARRANT THAT YOUR USE OF THE 
| PLATFORM WILL BE UNINTERRUPTED, TIMELY, SECURE OR ERROR-FREE, THAT 
| DEFECTS WILL BE CORRECTED, OR THAT THE PLATFORM OR ANY PART OR PARTS 
| THEREOF, THE CONTENT, OR THE SERVERS ON WHICH THE PLATFORM OPERATES ARE 
| OR WILL BE FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS. BeatThread DOES 
| NOT WARRANT THAT ANY TRANSMISSION OF CONTENT UPLOADED TO THE PLATFORM 
| WILL BE SECURE OR THAT ANY ELEMENTS OF THE PLATFORM DESIGNED TO PREVENT 
| UNAUTHORIZED ACCESS, SHARING OR DOWNLOAD OF CONTENT WILL BE EFFECTIVE 
| IN ANY AND ALL CASES, AND DOES NOT WARRANT THAT YOUR USE OF THE PLATFORM 
| IS LAWFUL IN ANY PARTICULAR JURISDICTION.
p
| BeatThread AND ITS SUBSIDIARIES, AFFILIATES, SUCCESSORS, AND ASSIGNS, AND 
| THEIR RESPECTIVE EMPLOYEES, AGENTS, DIRECTORS, OFFICERS AND 
| SHAREHOLDERS, SPECIFICALLY DISCLAIM ALL OF THE FOREGOING WARRANTIES AND 
| ANY OTHER WARRANTIES NOT EXPRESSLY SET OUT HEREIN TO THE FULLEST EXTENT 
| PERMITTED BY LAW, INCLUDING WITHOUT LIMITATION ANY EXPRESS OR IMPLIED 
| WARRANTIES REGARDING NON-INFRINGEMENT, MERCHANTABILITY AND FITNESS FOR 
| A PARTICULAR PURPOSE.

| WHERE THE LAW OF ANY JURISDICTION LIMITS OR PROHIBITS THE DISCLAIMER OF 
| IMPLIED OR OTHER WARRANTIES AS SET OUT ABOVE, THE ABOVE DISCLAIMERS 
| SHALL NOT APPLY TO THE EXTENT THAT THE LAW OF SUCH JURISDICTION APPLIES TO 
| THIS AGREEMENT.
br
br

h2 Limitation of Liability

| IN NO EVENT SHALL BeatThread AGGREGATE LIABILITY TO YOU UNDER THIS 
| AGREEMENT EXCEED THE GREATER OF $100 USD OR THE AMOUNTS (IF ANY) PAID BY 
| YOU TO BeatThread DURING THE PREVIOUS TWELVE (12) MONTHS FOR THE SERVICES 
| GIVING RISE TO THE CLAIM.
p
| BeatThread AND ITS SUBSIDIARIES, AFFILIATES, SUCCESSORS, AND ASSIGNS, AND 
| THEIR RESPECTIVE EMPLOYEES, AGENTS, DIRECTORS, OFFICERS AND 
| SHAREHOLDERS, SHALL HAVE NO LIABILITY FOR:

ol
  li
    | ANY LOSS OR DAMAGE ARISING FROM:
  li
    | (A) YOUR INABILITY TO ACCESS OR USE THE PLATFORM OR ANY PART OR 
    | PARTS THEREOF, OR TO ACCESS ANY CONTENT OR ANY EXTERNAL 
    | SERVICES VIA THE PLATFORM;
  li
    | (B) ANY CHANGES THAT BeatThread MAY MAKE TO THE PLATFORM OR ANY 
    | PART THEREOF, OR ANY TEMPORARY OR PERMANENT SUSPENSION OR 
    | CESSATION OF ACCESS TO THE
  li
    | (C) ANY ACTION TAKEN AGAINST YOU BY THIRD PARTY RIGHTSHOLDERS 
    | WITH RESPECT TO ANY ALLEGED INFRINGEMENT OF SUCH THIRD PARTY’S 
    | RIGHTS RELATING TO YOUR CONTENT OR YOUR USE OF THE PLATFORM, OR 
    | ANY ACTION TAKEN AS PART OF AN INVESTIGATION BY BeatThread OR ANY 
    | RELEVANT LAW ENFORCEMENT AUTHORITY REGARDING YOUR USE OF THE 
    | PLATFORM;
  li
    | (D) ANY ERRORS OR OMISSIONS IN THE PLATFORM’S TECHNICAL 
    | OPERATION, OR FROM ANY INACCURACY OR DEFECT IN ANY CONTENT OR 
    | ANY INFORMATION RELATING TO CONTENT;
  li
    | (E) YOUR FAILURE TO PROVIDE BeatThread WITH ACCURATE OR COMPLETE 
    | INFORMATION, OR YOUR FAILURE TO KEEP YOUR USERNAME OR PASSWORD 
    | SUITABLY CONFIDENTIAL;
  li
    | (F) ANY MISCONDUCT BY OTHER USERS OR THIRD PARTIES USING THE 
    | PLATFORM, ESPECIALLY IN BREACH OF THE AGREEMENT;
  li
    | ANY LOSS OR DAMAGE TO ANY COMPUTER HARDWARE OR SOFTWARE, ANY 
    | LOSS OF DATA (INCLUDING YOUR CONTENT), OR ANY LOSS OR DAMAGE 
    | FROM ANY SECURITY BREACH; AND/OR
  li
    | ANY LOSS OF PROFITS, OR ANY LOSS YOU SUFFER WHICH IS NOT A 
    | FORESEEABLE CONSEQUENCE OF BeatThread BREACHING THESE TERMS OF 
    | USE. LOSSES ARE FORESEEABLE WHERE THEY COULD BE CONTEMPLATED 
    | BY YOU AND BeatThread AT THE TIME YOU AGREE TO THESE TERMS OF USE, 
    | AND THEREFORE DO NOT INCLUDE ANY INDIRECT LOSSES, SUCH AS LOSS 
    | OF OPPORTUNITY.

| ANY CLAIM OR CAUSE OF ACTION ARISING OUT OF OR RELATED TO YOUR USE OF THE 
| PLATFORM MUST BE NOTIFIED TO BeatThread AS SOON AS POSSIBLE.
p
| APPLICABLE LAW MAY NOT ALLOW THE LIMITATION OR EXCLUSION OF LIABILITY FOR 
| INCIDENTAL OR CONSEQUENTIAL DAMAGES, SO THE ABOVE LIMITATIONS OR 
| EXCLUSIONS MAY NOT APPLY TO YOU. IN SUCH CASES, YOU ACKNOWLEDGE AND 
| AGREE THAT SUCH LIMITATIONS AND EXCLUSIONS REFLECT A REASONABLE AND FAIR 
| ALLOCATION OF RISK BETWEEN YOU AND BeatThread AND ARE FUNDAMENTAL 
| ELEMENTS OF THE BARGAIN BETWEEN YOU AND BeatThread, AND THAT BeatThread’s 
| LIABILITY WILL BE LIMITED TO THE MAXIMUM EXTENT PERMITTED BY LAW.
p
| NOTHING IN THESE TERMS OF USE LIMITS OR EXCLUDES THE LIABILITY OF 
| BeatThread, ITS SUBSIDIARIES, SUCCESSORS, ASSIGNS, OR THEIR RESPECTIVE 
| EMPLOYEES, AGENTS, DIRECTORS, OFFICERS AND/OR SHAREHOLDERS: (I) FOR ANY 
| DEATH OR PERSONAL INJURY CAUSED BY ITS OR THEIR NEGLIGENCE, (II) FOR ANY 
| FORM OF FRAUD OR DECEIT, (III) FOR ANY DAMAGES CAUSED WILFULLY OR BY 
| GROSS NEGLIGENCE, OR (IV) FOR ANY FORM OF LIABILITY WHICH CANNOT BE 
| LIMITED OR EXCLUDED BY LAW.
br
br

h2 Indemnification

| You hereby agree to indemnify, defend and hold harmless BeatThread, its successors, 
| assigns, affiliates, agents, directors, officers, employees and shareholders from and 
| against any and all claims, obligations, damages, losses, expenses, and costs, including 
| reasonable attorneys' fees, resulting from:
p
| (i) any violation by you of these Terms of Use
p
| (ii) any third party claim of infringement of copyright or other intellectual property 
| rights or invasion of privacy arising from the hosting of Your Content on the Platform, 
| and/or your making available thereof to other users of the Platform, and/or the actual 
| use of Your Content by other users of the Platform or Linked Services in accordance 
| with these Terms of Use and the parameters set by you with respect to the distribution 
| and sharing of Your Content;
p
| (iii) any activity related to your account, be it by you or by any other person accessing 
| your account with or without your consent unless such activity was caused by the act or 
| default of BeatThread.
br
br

h2 Data Protection, Privacy and Cookies

| All personal data that you provide to us in connection with your use of the Platform is 
| collected, stored, used and disclosed by BeatThread in accordance with our Privacy 
| Policy. In addition, in common with most online services, we use cookies to help us 
| understand how people are using the Platform, so that we can continue to improve the 
| service we offer. By accepting these Terms of Use and using the Platform, you also 
| accept these terms.
br
br

h2 Competitions and Other Promotions

| From time to time, some BeatThread users may promote competitions, promotions, 
| prize draws and other similar opportunities on the Platform (“Third Party 
| Competitions”). Unless otherwise stated, BeatThread is not the sponsor or promoter of 
| these Third Party Competitions, and does not bear any responsibility or liability for the 
| actions or inactions of any third parties who organize, administer or are otherwise 
| involved in any promotion of these Third Party Competitions. If you wish to participate 
| in any of these Third Party Competitions, it is your responsibility to read the terms and 
| conditions applicable to the relevant Third Party Competition and to ensure that you 
| understand the rules and any eligibility requirements, and are lawfully able to 
| participate in such Third Party Competitions in your country of residence.
p
| If you wish to run your own Third Party Competition on the Platform, you are free to do 
| so provided you comply with our Competition Terms, which are available 
= link_to 'here.', 'https://soundcloud.com/pages/competition'
br
br

h2 Use of BeatThread Players and Widget

| The Platform includes access to customizable players (“Players”), and an embeddable 
| version of the BeatThread waveform player (“Widget”) for incorporation into users’ own 
| sites, third party sites or social media profiles, whether or not a Linked Service. This 
| functionality is provided to enable Uploaders to put their Content wherever they wish, 
| and to enable other users of the Platform to share and distribute Content within the 
| parameters set by the Uploader.
p
| You may not, without the prior written consent of BeatThread, use the Players or the 
| Widget in such a way that you aggregate Content from the Platform into a separate 
| destination that replicates substantially the offering of the Website, or comprises a 
| content service of which Content from the Platform forms a material part. Similarly, you 
| may not, without the prior written consent of BeatThread, use the Players or the Widget 
| to embed Content into any website or other destination dedicated to a particular artist 
| (except where the relevant Content is Your Content and you are the person or are 
| authorized to represent the person to whom the site or destination is dedicated), or to a 
| particular genre. You may not use the Players or Widget in any way that suggests that 
| BeatThread or any artist, audio creator or other third party endorses or supports your 
| website, or your use of the Players or Widget. The foregoing shall apply whether such 
| use is commercial or non-commercial.
p
| BeatThread reserves the right to block your use of the Players and the Widget at any 
| time and for any reason in its sole discretion.
br
br

h2 Changes to the Platform, Accounts and Pricing

| BeatThread reserves the right at any time and for any reason to suspend, discontinue, 
| terminate or cease providing access to the Platform or any part thereof, temporarily or 
| permanently, and whether in its entirety or with respect to individual territories only. In 
| the case of any temporary or permanent suspension, discontinuation, termination or 
| cessation of access, BeatThread shall use its reasonable endeavors to notify registered 
| users of such decision in advance.
p
| You hereby agree that BeatThread and its subsidiaries, affiliates, successors, assigns, 
| employees, agents, directors, officers and shareholders shall not be liable to you or to 
| any third party for any changes or modifications to the Website, Apps and/or any 
| Services that BeatThread may wish to make from time to time, or for any decision to 
| suspend, discontinue or terminate the Website, the Services or any part or parts 
| thereof, or your possibility to use or access the same from or within any territory or 
| territories.
p
| BeatThread may change the features of any type of account, may withdraw or, or 
| introduce new features, products or types of account at any time and for any reason, and may change the prices charged for any of its Subscriptions from time to time. In 
| the event of any increase in the price or material reduction in the features of any 
| Subscription which you have purchased, such change(s) will be communicated to you 
| and will only take effect with respect to any subsequent renewal of your subscription. In 
| all other cases, where BeatThread proposes to make changes to any type of 
| Subscription you have purchased, and these changes are material and to your 
| disadvantage, BeatThread will notify you of the proposed changes by sending a 
| message to your BeatThread account and/or an email to the then current email address 
| that we have for your account, at least one week in advance. You will have no 
| obligation to continue using the Platform following any such notification, but if you do 
| not terminate your account as described in the Termination section below during such 
| one week perioud, your continued use of your account after the end of that one week 
| period will constitute your acceptance of the changes to your Subscription.
br
br

h2 Termination

| You may terminate this Agreement at any time by sending notice to 
| team@beatthread.biz confirming such termination, by removing all of Your Content 
| from your account, or by deleting your account and thereafter by ceasing to use the 
| Platform. If you have a Subscription, and terminate this Agreement before the end of 
| such Subscription, we are unable to offer any refund for any unexpired period of your 
| Subscription.
p
| BeatThread may suspend your access to the Platform and/or terminate this Agreement 
| at any time if (i) you are deemed to be a Repeat Infringer as described above; (ii) you 
| are in breach of any of the material provision of these Terms of Use (iii) BeatThread 
| elects at its discretion to cease providing access to the Platform in the jurisdiction 
| where you reside or from where you are attempting to access the Platform, or (iv) in 
| other reasonable circumstances as determined by BeatThread at its discretion. If you 
| have a Subscription and your account is suspended or terminated by BeatThread 
| pursuant to (i) or (ii) above, you will not be entitled to any refund for any unexpired 
| period of your subscription. If your account is terminated pursuant to (iii) or (iv), 
| refunds may be payable at the reasonable discretion of BeatThread.
p
| Once your account has been terminated, any and all Content residing in your account, 
| or pertaining to activity from your account (for example, data relating to thedistribution or consumption of your sounds), will be irretrievably deleted by 
| BeatThread, except to the extent that we are obliged or permitted to retain such 
| content, data or information for a certain period of time in accordance with applicable 
| laws and regulations and/or to protect our legitimate business interests. You are 
| advised to save or back up any material that you have uploaded to your account before 
| terminating your account, as BeatThread assumes no liability for any material that is 
| irretrievably deleted following any termination of your account. BeatThread is not able 
| to provide you with any .csv or other similar file of data relating to activity associated 
| with your account, whether before or after termination or cancellation. This data is 
| provided and is accessible only for viewing via your account page on the Website for as 
| long as your account is active.
p
| If you access the Platform via any of our Apps or via any third party app connected to 
| your account, deleting that app will not delete your account. If you wish to delete your 
| account, you will need to do so from the Account page within your Settings on the 
| Website. The provisions of these Terms of Use that are intended by their nature to 
| survive the termination or cancellation of this Agreement will survive the termination of 
| this Agreement.
br
br

h2 Assignment to Third Parties

| BeatThread may assign its rights and (where permissible by law) its obligations under 
| this Agreement, in whole or in part, to any third party at any time without notice, 
| including without limitation, to any person or entity acquiring all or substantially all of 
| the assets or business of BeatThread. You may not assign this Agreement or the rights 
| and duties hereunder, in whole or in part, to any third party without the prior written 
| consent of BeatThread.
br
br

h2 Severability

| Should one or more provisions of these Terms of Use be found to be unlawful, void or 
| unenforceable, such provision(s) shall be deemed severable and will not affect the 
| validity and/or enforceability of the remaining provisions of the Terms of Use, which will 
| remain in full force and effect.
br
br

h2 Entire Agreement

| These Terms of Use constitute the entire agreement between you and BeatThread with 
| respect to your use of the Platform (other than any use of BeatThread APIs which may 
| also be subject to separate [API Terms of Use]), and supersede any prior agreement 
| between you and BeatThread.
br
br

h2 Third Party Rights

| These Terms of Use are not intended to give rights to anyone except you and 
| BeatThread. This does not affect our right to transfer our rights or obligations to a third 
| party.
br
br

h2 Applicable Law and Jurisdiction

| You acknowledge that, in the event of a breach of this Agreement by BeatThread or any 
| third party, the damage or harm, if any, caused to you will not entitle you to seek 
| injunctive or other equitable relief against BeatThread, including with respect to Your 
| Content, and your only remedy shall be for monetary damages, subject to the 
| limitations of liability set forth in these Terms of Use.
br
br
br

h1 Community Guidelines

| We want BeatThread to be a community where everyone feels respected. It’s up to all 
| of us to make sure that that happens. This page includes important information about 
| our expectations of you while using BeatThread. Please take the time to carefully read 
| through this information; we take these guidelines seriously and expect you to do the 
| same.
br
br

h2 Copyright

| We have always set out to build a diverse, collaborative community of creators, where 
| everyone gets credit for the content that they make and own, and where the rights of 
| creators are respected.
p
| You are responsible for all activity associated with your account, including all content 
| that you post. If you post content that belongs to someone else (for example, if you are 
| a distributor or promotional agency acting on behalf of an artist or label), or if you use 
| someone else’s content in a remix or other similar work, it is your responsibility to 
| ensure that you have the permission of all relevant rightsholders in order to post that 
| content to BeatThread. Anyone uploading another person’s content without the 
| necessary permissions is liable to have that content removed or their account 
| terminated.
br
br

h2 Respect

| BeatThread is an open, social platform, made up of a vibrant group of people with 
| differing views, opinions, and cultural backgrounds. We support freedom of speech and 
| the fundamental right for individuals to express themselves, and expect everyone else 
| to do the same. Respecting each other on BeatThread means following some basic 
| principles:
p
| Don’t be a bully: We have zero tolerance for abusive or threatening behavior within the 
| community. We consider abuse to be any activity where the intent is to attack or 
| demean someone else. Anyone found to be engaging in this type of activity risks the 
| immediate, permanent termination of their account.
p
| Criticize constructively: We recognize that criticism can be a valuable tool for helping 
| each other to improve. Remember that behind each track is a person. Criticism should 
| always focus on the content, and not on the individual who created it. Please share your 
| opinion with others, but do so in a constructive way. Before posting feedback, always 
| ask yourself whether you would appreciate receiving the same feedback. If not, don’t 
| post it.
p
| Privacy of others: Everyone has the right to privacy, no matter who they are. Don’t 
| share personal details of another person (or entity), without their permission. This 
| includes recordings of private conversations, photographs, unlisted phone numbers, and 
| home or email addresses.
br
br

h2 Don’t pretend to be someone else

| As a platform built with creator needs in mind, we welcome the use of stage names or 
| professional identities on BeatThread. However, that doesn’t mean that you can 
| impersonate another person, or post content that is intentionally misleading. As a rough 
| guide, you mustn’t create profiles or post content that is intended to make people think 
| you are someone else. You must not use someone else’s name or trademark without 
| their permission, or pretend to be associated with someone you aren’t, even if you feel 
| that you are helping that person by doing so.
br
br

h2 Self promotion & building your audience

| BeatThread aims to help creators to connect directly with their fans. We understand 
| that promoting your work is important, and we encourage you to seek out fans and 
| other like-minded individuals. In our experience, the most successful forms of 
| promotion are built upon meaningful interactions between creators and their audience. 
| However, there is a fine line between developing these connections and over-sharing 
| with members of the community.
p
| To help encourage a two-way relationship between creators and fans, we have technical 
| restrictions in place to limit activity that goes against this principle.
p
| Specifically, it’s not possible to:

ul
  li Post identical or almost identical comments or messages in large volumes
  li Repeatedly follow large volumes of accounts in a short period of time
  li Repeatedly contribute your tracks to large volumes of groups in a short period of time
  li Repeatedly unfollow and refollow the same accounts, in order to draw attention to your own profile
  li Repeatedly repost or like tracks that you have reposted or liked in the past
br

h2 Forbidden content

| As an open platform, freedom of expression is important to us. However, there are 
| certain types of content that have no place on BeatThread. In order to protect the 
| community and maintain positivity, please don’t post:
p
| Pornography: Remember that BeatThread can be accessed by people as young as 13. 
| Don’t post any content that is predominantly sexual in nature, or that could be 
| perceived as an aid to sexual gratification. This includes, but is not limited to, images 
| containing nudity and recordings or detailed descriptions of sexual acts. There are 
| plenty of other places to find that content online.
p
| Hate speech: You are welcome to share your opinions and beliefs on BeatThread, even 
| if they might be controversial, or challenge the status-quo. However, we will not 
| tolerate content that promotes or encourages hatred, discrimination or violence against 
| others based on things like race, cultural identity or ethnic background, religious 
| beliefs, disability, gender identity, or sexual orientatiobr
br

h2 Spam & prohibited services

| We aim for BeatThread to be a spam-free zone. To support this effort, we have policies 
| in place that prohibit both spammy activity and the use of related services which violate 
| our Terms.
p
| The following activity is not permitted: 

ul
  li
    | Posting unsolicited links to commercial spam i.e. profiles or content whose sole 
    | aim is to drive traffic to external websites, via messages, comments, profile 
    | and track descriptions or artwork
  li
    | Creating multiple accounts with the intention of inflating the popularity of other profiles
  li
    | The creation, use, or promotion of:
    ul
      li type="circle" Bots or other automated means to perform social interactions;
      li type="circle" Services that claim to boost a profile’s popularity such as followers, plays, likes, or reposts;
      li type="circle"
        | Services that sell social interactions, or other forms of promotion on 
        | BeatThread, such as charging users to repost or upload content onto 
        | another profile.

h2 Tell us about it

| It’s possible that you might come across content that you disagree with or find 
| distasteful from time to time. If that’s the case, the best thing you can do is to ignore 
| that content, and to block those who share it to avoid it in the future. However, if you 
| encounter any content that crosses the line and breaches these guidelines or our Terms 
| of Use–including impersonation, abusive or threatening behaviour, pornography or 
| malicious speech email 
= mail_to 'team@beatthread.biz​'
| . We have a dedicated team of people who 
| will review all reports objectively, and remove any content that violates these rules, or 
| applicable law.
p
| Please bear in mind that something that you find unacceptable, may not be 
| unacceptable to everyone. We try to maintain a fair and balanced approach, but 
| reporting content will not always result in that content being removed if it does not 
| break the rules. Either way, we will always let you know the outcome of your report.
br
br

h2 If you break the rules

| If we receive notification from a rightsholder that any content uploaded to your account 
| infringes their copyright, or if we believe that your activity violates any of our other 
| guidelines, we will send you a written warning. If we have to send you more than two 
| of these warnings, we will terminate your account. In the most extreme cases, we 
| reserve the right to terminate your account immediately, without prior warning.
br
br

h2 To sum up

| Be considerate of others, respect the law and think about these guidelines before you 
| post. We aim to make objective, fair decisions when content is reported to us and in 
| most cases, will send you a warning before we take any other measures. We think this 
| is reasonable but if you don't agree, maybe BeatThread isn’t the place for you.
p
| We may need to update these Community Guidelines occasionally, so please be sure to 
| check back here every so often for updates.
br
br
br

h1 Privacy Policy

| Your privacy is important to us. This Privacy Policy explains how we collect, store, use 
| and disclose your information when you use BeatThread.biz (the “Website”), our 
| mobile and desktop apps (the "Apps") and all related sites, players, widgets, tools, 
| apps, data, software, APIs and other services provided by
p
| By using the Website, the Apps or any of the Services, and in particular by registering a 
| BeatThread account, you are consenting to the use of your information in the manner 
| set out in this Privacy Policy.
p
| Please take some time to read this Privacy Policy and make sure you are happy with 
| our use and disclosure of your information.
p
| If you do not agree to any of the provisions of this Privacy Policy, you should not use 
| the Website, the Apps or any of the Services. If you have any questions or concerns, 
| you can contact us at ​
= mail_to 'team@beatthread.biz​'
p
| Please note that this Privacy Policy only applies to the Website, the Apps and the 
| Services (together, the “Platform”). When using the Platform, you may find links to 
| other websites, apps and services, or tools that enable you to share information with 
| other websites, apps and services. BeatThread is not responsible for the privacy 
| practices of these other websites, apps and services and we recommend that you 
| review the privacy policies of each of these websites, apps or services before 
| connecting your BeatThread account or sharing any personal data.
br
br

h2 Our Principles

| We have a pretty simple approach to data protection and privacy, which can be 
| summarized as follows:
p
strong You should know exactly what we do with your information
br
| This Privacy Policy is designed to give you full transparency regarding our data 
| protection practices. If there’s anything that’s not clear from this Privacy Policy, please 
| feel free to email us at ​
= mail_to 'team@beatthread.biz​'
p
strong You should have full control over your information
br
| We’ve designed the Website to give you control over the information you publish and 
| share using BeatThread and other sites and services to which you connect your 
| BeatThread account. Please take full advantage of these tools and make sure you only 
| share what you want to share.
br
br

h2 Information we collect about you
| We collect information about you from various sources:

p
strong Information provided by you
br
| You don’t need to provide us with any personal data in order to visit the Website. 
| However, certain Services do require that you register for a BeatThread account and, 
| by doing so, you will provide us with certain information:
ul
  li
    | Essential information: When you register any kind of BeatThread account, you 
    | will need to provide your email address (except when you sign-up with 
    | Facebook and don’t give your permission to share it with BeatThread), your 
    | month and year of birth, and choose a password. In addition, if you purchase a 
    | Subscription, you will also need to provide your real name, billing address and 
    | payment verification information.
  li Non-essential information: Your gender if you wish to provide it.
  li Profile information: You may choose, at your discretion, to provide additional information for your public profile on BeatThread – for example:
  ul
    li type="circle" your real name
    li type="circle" a user name (which may be your real name or a pseudonym)
    li type="circle" the city and country in which you live
    li type="circle" a profile picture, profile header image or avatar
    li type="circle"
      | information about how you categorize yourself with respect to your 
      | content (for example, whether you are a musician, a label or some 
      | other category of creator)
    li type="circle" details of your other websites and social media profiles, including links to those websites and profiles
  li
    | Information from correspondence: You will provide certain personal data if you 
    | contact us by email, use any of the webforms on the Website, or contact us by 
    | mail, fax or other offline means.
  li
    | Survey information: If you participate in any survey, you will provide certain 
    | personal data as part of your response, unless you respond anonymously.
  li
    | Information that you post: You may provide personal data when you upload 
    | sounds to the Platform, or when you post comments, or contribute to 
    | community discussions.
br
strong Information we collect automatically
br
| There is certain information that we collect automatically as the result of your use of 
| the Platform, or through the use of web analytics services. This information includes but 
| is not limited to:
ul
  li
    | the Internet Protocol (IP) address of the device from which you access the 
    | Platform (this can sometimes be used to derive the country or city from which 
    | you are accessing the Platform)
  li the site that you visited immediately prior to visiting the Website
  li 
    | the specific actions that you take on the Platform, including the pages that you 
    | visit, streaming, offline listening or downloading tracks, uploading or recording 
    | tracks, connecting your Facebook or Google+ account, sharing a sound with 
    | another user, following or unfollowing another user, joining or leaving a group, 
    | posting a comment, or performing a search
  li any search terms that you may enter on the Website
  li the time, frequency and duration of your visits to the Platform
  li your browser type and operating system
  li
    | the nature of the device from which you are accessing the Platform, for 
    | example, whether you are accessing the Platform from a personal computer or 
    | from a mobile device and its device-ID
  li your location data (e.g. GPS) when using BeatThread Apps,
  li information collected through cookies and similar technology
  li information regarding your interaction with email messages, for example, whether you opened, clicked on, or forwarded the email message
br
strong Information from other sources
p
strong Facebook Connect
br
| BeatThread allows you to sign up and log in using your Facebook account. If you sign 
| up using Facebook, Facebook will ask your permission to share certain information from 
| your Facebook account with BeatThread. This includes your first name, last name, email 
| address in order for us to verify your identity and gender, general location, a link to 
| your Facebook profile, your timezone, birthday, profile picture, your "likes" and your list 
| of friends.
p
| This information is collected by Facebook and is provided to us under the terms of 
| Facebook’s privacy policy. You can control the information that we receive from 
| Facebook using the privacy settings in your Facebook account.
p
| If you sign up to BeatThread using Facebook, your BeatThread account will be 
| connected automatically to your Facebook account, and information regarding your 
| activity on BeatThread, specifically any new public sounds that you post on BeatThread 
| and any new favourites, will be shared with Facebook and will be published in your 
| timeline and your Facebook friends’ newsfeeds. If you do not wish to share your 
| BeatThread activity with your Facebook friends, you can control this from the Settings 
| page on the Website.
p
| This also applies to signing up using your Twitter or Soundcloud account.
p
| If you signed up using Facebook by mistake, you can delete your account from the 
| Account page within your Settings at any time, or you can email us at 
= mail_to 'team@beatthread.biz​'
br
br

h2 How we use your information

| We use the information that we collect about you for the following purposes:
p
| Use of and interaction with the Platform:
p
ul
  li
    | To operate and maintain your BeatThread account, and to provide you with 
    | access to the Website and use of the Apps and any Services that you mayrequest from time to time. Your email address and password are used to 
    | identify you when you sign into the Platform. Your device-IDs are used to 
    | ensure that you are in control of the devices that have access to your Subscription.
  li
    | To identify you as the creator of the sounds that you upload, the comments 
    | that you post and/or the other contributions that you make to the Platform.
  li To seek your participation in surveys, and to conduct and analyze the results of those surveys if you choose to participate.
  li To provide you with technical support.
  li To respond to you about any comment or enquiry you have submitted.
  li To provide other users with data regarding people's listening behavior of their sounds, i.e. streaming and downloading their sounds or playlists or following their profiles.
  li To prevent or take action against activities that are, or may be, in breach of our Terms of Use.
  li We use your month and year of birth to enable age restriction.
  li
    | Any additional information that you provide as part of your public profile, such 
    | as your real name, and links to your website and other social media profiles 
    | (but not your email address), will be published on your profile page. This 
    | information will be publicly accessible and may be viewed by anyone accessing 
    | the Website, or using our API or other Services. Please bear this in mind when 
    | considering whether to provide any additional information about yourself.
  li
    | If you purchase a Subscription, your name, address and payment verification 
    | information will be used to process your account subscription and renewals 
    | and to collect your payment. All payment verification information is 
    | transmitted using industry-standard SSL (Secure Socket Layer) encryption. 
    | BeatThread also complies with the Payment Card Industry Security Standards.
  li
    | Your email address will be used to send you service updates and notifications 
    | regarding your account, and (if you have elected to receive them using your 
    | account preferences) newsletters, marketing messages and certain email 
    | notifications. For information about how to change your preferences, and to 
    | unsubscribe from newsletters, marketing messages and email notifications, 
    | please see the ​ 
    = link_to 'Choice and Control​', 'https://soundcloud.com/pages/privacy#choice-and-control'
    |  section, below.
p

| Improving and customizing the Platform and advertising:

p
ul
  li To analyze the use of the Platform, and the people visiting the Website and using the Apps and Services, in order to improve BeatThread and customize it to your needs and interests.
  li
    | To show you interesting BeatThread ads, when you visit third party websites. 
    | When you see our ads on a third party website or apps, we or third party 
    | services we engage for this purpose, may collect information your browser or 
    | mobile app makes available when seeing the ad (e.g. ip-addresses, referral 
    | URL, browser details, timestamp of request). Third party websites or apps may 
    | also allow us to measure the success of our ads on their websites. This may 
    | include e.g. whether a click converted to an actual purchase of a Subscription. 
    | Please see the privacy policy of such third party websites to understand what 
    | data may be collected and how to opt-out.
  li
    | To show you ads on behalf of advertisers, we use information that you make 
    | available to us when you interact with the Platform (e.g. by listening, liking or 
    | creating playlists), including location data, together with information you 
    | provide to us through the Platform, e.g. demographic information, you choose 
    | to make available to us (such as your age or gender) directly or through third 
    | party services as well as information your browser sends us when using the 
    | Platform (e.g. referral URLs, device type or location data). This allows us to 
    | show you ads that are more relevant and interesting to you. Please note that 
    | we do not share personal data with advertisers. Instead, advertisers pre-define 
    | a specific audience by certain generic criteria (e.g. the city of residence, the 
    | age range, or the number of followers of an unidentified user) for a specific ad 
    | campaign. If your profile matches these generic criteria, we may choose to 
    | display a suitable ad to you. We may also display ads based on the content 
    | that you have recently viewed or searched. Before we may use location data 
    | from the app for the first time, your mobile device will generally ask you for 
    | permission first. In case you gave permission to do so, location based services 
    | in your device will collect location data for a couple of seconds. These will then 
    | be shared with us or a respective service provider. When we engage third 
    | party services such as ad-networks that enable us showing you interest based 
    | ads, we may also allow them to collect certain information such as cookie data 
    | from you. This information would allow these third-parties to deliver targeted 
    | advertisements that they believe will be of most interest to you. If you allowthird party websites to collect and share data when you interact with their 
    | platform, ad-networks may use that information together with the information 
    | we allow them to collect on the Platform. Please see the privacy policy of such 
    | third party websites to understand what data may be collected and how to 
    | opt-out.
  li To customize your use of the Platform and/or the content of any email newsletter or other material that we may send to you from time to time.
p

| For other purposes, provided we disclose this to you at the relevant time, and provided that you agree to the proposed use of your personal data.
br
br

h2 Sharing of your information

| We will not share your information with any third party, except as described in this 
| Privacy Policy. There are circumstances where we may need to share some of the 
| information we collect about you or which you provide to us - these circumstances are as follows:
ul
  li
    | Other users: Any information in your public profile (other than your email 
    | address) will be accessible by other users of the Platform, who may view your 
    | profile information, listen to and comment on any of your public sounds, add 
    | themselves to your list of followers, and send you messages. If you listen to 
    | any sounds uploaded by a pro user, the fact that you have listened to those 
    | sounds will be shared with that pro user as well as that you are following that 
    | pro user now, so that they can track the popularity of their sounds. Similarly, if 
    | you comment on any sounds on the Platform, your comments will be available 
    | to all users of the Platform.
  li With your consent: We will disclose your information if you have explicitly agreed that we may do so. We will make this clear to you at the point at which we collect your information.
  li
    | Service providers: We use certain reputable third parties, some of whom may 
    | be located outside of the European Economic Area, to provide us with certain 
    | specialized services related to the Platform. These third parties will have 
    | access to certain information about you, but only where this is necessary in 
    | order for those third parties to provide their services to us. Where we transferpersonal data to these third parties, we ask and require these third parties to 
    | implement appropriate organizational and technical security measures to 
    | protect against unauthorized disclosure of personal data, and only to process 
    | personal data in accordance with our instructions and to the extent necessary 
    | to provide their services to us.
  li
    | Users of our API: BeatThread has an open API, which enables application 
    | developers to integrate elements of the Platform into exciting new apps. Some 
    | of these developers may be located outside of the European Economic Area. 
    | Any information that you choose to make public on the Platform, including 
    | your public profile information and any public sounds, may be accessible to 
    | these developers. Please bear this in mind when deciding what information to 
    | publish on your profile.
  li
    | Other networks and connected apps: If you choose to connect your 
    | BeatThread account to other apps or social networks such as Facebook, 
    | Google+, Tumblr or Twitter, you will be sharing certain information with these 
    | apps or networks. In the case of Facebook, Google+, Tumblr or Twitter, any 
    | new public sounds that you post or listen to on BeatThread or any new 
    | favourites will be shared to those networks and will be visible to your followers 
    | and friends on those networks. In the case of connected apps, you will need to 
    | provide the app developer with full access to your BeatThread account in order 
    | to upload and download sounds, or comment on, favourite or repost sounds 
    | from within the app. This will mean sharing your public information, plus 
    | access to your private sounds. BeatThread is not responsible for these other 
    | apps or networks, so please make sure you only connect your account with 
    | apps or services that you trust.
  li
    | Advertisers may use third party services to ensure their ads are properly 
    | served and to measure the success of their campaigns on websites and apps. 
    | We allow these services to collect and use the information for such purposes.
  li
    | As aggregated data: We may aggregate your personal data with similar data 
    | relating to other users of the Platform in order to create statistical information 
    | regarding the Platform and its use, which we may then share with third parties 
    | or make publicly available. However, none of this information would include 
    | any email address or other contact information, or anything that could be used 
    | to identify you individually, either online or in real life.
  li
    | If required by law: We will disclose your information if we believe in good faith 
    | that we are permitted or required to do so by law, including in response to a 
    | court order, subpoena or other legal demand or request
  li
    | To protect our interests: We may disclose your information if we feel this is 
    | necessary in order to protect or defend our legitimate rights and interests, or 
    | those of our users, employees, directors or shareholders, and/or to ensure the 
    | safety and security of the Platform and/or the BeatThread community.
  li
    | In the context of a business transfer: We may transfer your information to any 
    | person or company that acquires all or substantially all of the assets or 
    | business of BeatThread, or on a merger of our business, or in the event of our 
    | insolvency.
br
h2 Cookies and similar technology

| In common with most websites, we use cookies and other standard Internet 
| technologies to help us improve the Website and the Apps and Services we provide. Ads 
| displayed to you are in some cases provided by third parties. These may and as far as 
| allowed by your settings or your device, use information about your visit and interaction 
| with the Platform in order to show you personalized ads of products and services that 
| may be of interest to you. Personal information such as your name or email address will 
| not be shared with these.
p
| We have done our best to provide you with as much information as possible about our 
| use of cookies and similar technology. If you choose to use the Platform without 
| blocking or disabling these cookies or opting out of other technologies as described, you 
| will indicate your consent to our use of these technologies and to our use (in 
| accordance with this Privacy Policy and our Cookies Policy) of any personal data that we 
| collect using these technologies.
br
br

h2 Choice and control

| We do our best to give you as much choice as possible regarding the amount of 
| information you provide to us, and the control you have over that information.
p
| It is not necessary for you to provide us with any personal data in order to visit the 
| Website, although certain information will be collected automatically by virtue of yourvisit (as described above). However, if you do decide to register a BeatThread account, you can control your information in the following ways.
p
srtong Email and notification preferences
br
| When you are signed into your account, you can access your Settings by clicking on the 
| three-dots-tab at the top right of the screen, and selecting Settings from the drop down 
| menu.
p
| From the Notifications tab you can tell us:
p
ul
  li which email notifications (if any) you would like to receive from us; and
  li which Activity Notifications (if any) you would like to receive from us.
p
| You can also turn off email notifications from the Notifications tab within your Settings. 
| This will immediately disable all email notifications, other than essential account 
| notifications such as important service updates, reports of copyright infringement and 
| other essential information relating to your account and your use of the Platform.
p
| It is also possible to unsubscribe from email newsletters and notifications (other than essential account notifications) at any time by clicking on the link at the end of each email.
p
| You can add additional or alternative email addresses that you may wish us to use to communicate with you in your Account Settings tab.
p
strong Sharing with other apps and networks
br
| The Connections tab within your Settings on the Website enables you to control the 
| information you share with other networks and applications. As well as selecting those 
| of your social networks you wish to share to, you can also control access to other 
| services and applications to which you have connected your BeatThread account.
p
| If you sign up for BeatThread using your Facebook or Google+ account, your 
| BeatThread account and your Facebook or Google+ account respectively will be 
| connected automatically. Information regarding the public sounds that you post, listen 
| or favourite on BeatThread, will be shared with the connected Facebook or Google+ 
| account. Content that you share with Facebook will appear on your timeline and in your 
| Facebook friends’ newsfeeds. Content you share with Google will be seen by the people 
| from your Google+ circles when they visit your Google+ profile, make relevant Google 
| searches, on Google-served ads, and the services selected in your Google accountsettings. If you do not want this information shared with Facebook or Google, please change your Settings.
p
| Please note that this Privacy Policy does not apply to any third party sites or 
| applications, and we cannot control the activities of those sites or application. You are 
| advised to read the privacy policies of those sites or applications before sharing your 
| information with, or connecting your BeatThread account to, any of these third party 
| sites or applications.
p
strong Sharing with other users
br
| BeatThread is a very social place, but if you would prefer to browse the Website 
| anonymously, you can do so by checking the Anonymous Listening box in the Account 
| tab within your Settings on the Website. By checking this box, other users will not be 
| able to see the sounds that you listened to, but we will still have access to this 
| information.
p
| If any of your sounds contain any personal data or any other information which you 
| would not like to share, you can control who has access to these sounds using the 
| settings in the sound page (click on the pencil icon in the waveform player for the 
| relevant sounds). By setting your sounds to “private”, rather than “public”, you can 
| limit who has access to your sounds.
p
strong Sharing with app developers
br
| BeatThread has an open API, which allows third party developers to build some really 
| cool apps as an extension of the Platform. If you would prefer that your sounds are not 
| made available to third party app developers, you can disable API access within the 
| sound page for each of the sounds that you upload. Click on the pencil icon in the 
| waveform player, and uncheck the “Apps enabled” box at the bottom of the page. 
| Please note that your public profile information will still be accessible, but this does not 
| include anything that is not publicly available on the Website.
p
strong Customizing the Platform and personalized ads
br
| We may also use third party services using cookies or similar technologies showing you personalized ads on our behalf.
p
| Please be aware that even if you opt out of interest-based ads, you may still see ads, which likely are not as appealing to you.
p
strong App preferences
br
| You can use the settings within your iOS device or within the Android app to opt-out of 
| analytics tracking and bug reporting. For the opt-out, if you are using our iOS app, go 
| to the settings of your iOS device and open the BeatThread tab. With an Android device 
| you need to open the BeatThread app and open the basic settings tab within. From 
| there you can simply disable analytics and/or bug reporting to stop any analytics data 
| or bug reporting information being sent from the app. Further information is available in 
| our Cookies Policy.
p
strong Deleting your account
br
| You can delete your account from the Account page within your Settings on the Website 
| at any time. Please bear in mind that, if you delete your account, all data associated 
| with your account, including the sounds that you have uploaded and the usage data 
| associated with those sounds, will be deleted and may not be recoverable. You are 
| therefore advised to copy or back up all content uploaded to your account before you 
| delete your account.
p
| Even if you delete your BeatThread account, it is possible that your information may 
| still show up in some internet search results for a short while afterwards, if the search 
| engine maintains a temporary cache of web pages. Search engines' caching processes 
| are outside of BeatThread’s control and therefore we cannot be responsible for any 
| information that remains cached by search engines after that information has been 
| removed from the Platform.
p
| Please note that deleting any BeatThread Apps, or any third party apps to which your 
| BeatThread account is connected, will not delete your BeatThread account. If you wish 
| to delete your account, you will need to do so from the Account tab in your Settings on 
| the Website. Similarly, if you delete a third party app that is connected to your 
| BeatThread account over our API, this will not necessarily delete all data from within 
| that third party app. You will need to refer to the app provider’s terms of use and 
| privacy policy to find out how to delete your data from that third party app.
br
br

h2 Access to your data

| As described above, most of the personal data and other information you provide to us 
| can be accessed and updated in the Settings page of your BeatThread account. If you 
| wish to access, amend or delete any other personal data we hold about you, or if you 
| have any objection to the processing of any personal data that we hold about you, 
| please contact us at
 = mail_to 'team@beatthread.biz​'
|  , or the address provided below.
p
| If you ask us to delete your account (either via the Settings page or by email), we will 
| do so within a reasonable period of time, but we may need to retain some of your 
| personal data in order to satisfy our legal obligations, or where we have a legitimate 
| reason for doing so.
br
br

h2 International data transfers

| BeatThread is based in the United States, and your personal information is collected, 
| stored, used and shared in accordance with U.S. laws. However, from time to time, it 
| may be necessary for us to transfer your personal data to the other countries. You 
| should be aware that privacy laws in the United States may not be equivalent to the 
| laws in your country, and by using the Platform, you consent to the transfer, storage 
| and processing of your personal data in the United States in accordance with this 
| Privacy Policy and applicable law.
br
br

h2 Children

| BeatThread is not intended for use by children. Anyone under the age of 13 is not 
| permitted to use the Platform and must not attempt to register an account or submit 
| any personal information to us. We do not knowingly collect any personal information 
| from any person who is under the age of 13 or allow them to register an account. If it 
| comes to our attention that we have collected personal data from a person under the 
| age of 13, we will delete this information as quickly as possible. If you have reason to 
| believe that we may have collected any such personal data, please notify us 
| immediately at 
= mail_to 'team@beatthread.biz'
br
br

h2 Changes and updates to this Privacy Policy

| We may occasionally update this Privacy Policy, and when we do so, we will also revise 
| the Effective Date set out below. Any changes to our Privacy Policy will always be 
| available here so that BeatThread users are always aware of what information we 
| gather, and how we might use and share that information. Please be sure to check back 
| here from time to time to ensure that you are aware of any changes to this Privacy 
| Policy. Any material changes to this Privacy Policy will be communicated to registered 
| users by a notification to their account and/or by posting a notice of the change on the 
| Website.
br
br

h2 Questions?

| If you have questions about this Privacy Policy, want to suggest changes to this Privacy 
| Policy or want to know, what information we store about you, please contact us by 
| email at ​
= mail_to 'team@beatthread.biz'
