default: &default
  SC_CLIENT_ID: 3kDaJpmguJc6LcNT38msYtEfzInjqqGG
  SC_CLIENT_SECRET: ZgPFUU25cbFnFCADXOMOE2EIJF2GvqSH
  TWITTER_KEY: tm9X1FuYRMBKMNEztM4ymtwXY
  TWITTER_SECRET: yQizzL3b6t4tzDQjXelAqfrdKhE005fDCzX3hnRKzd23QuiO9u
  MIXPANEL_TOKEN: lxJkYy3uGZLyIHIdJeQqNHYcxH17UIJI
  MAILGUN_PUBLIC_KEY: pubkey-1H2xS2QcMqsecXNYKuBadEwFTEk8kFWh
  MAILGUN_SECRET_KEY: key-HPgmpi1ud2S61EgtmA24hqhGX31ahwuJ
  MAILGUN_DOMAIN: beatthread.biz
  MAILGUN_USERNAME: username@beatthread.biz
  MAILGUN_PASSWORD: Password$
  ROLLBAR_ACCESS_TOKEN: JoyrVMaG04MO8pxT4Z1kGfeIZ95A9gni
  PREFINERY_API_KEY: AEXKOzeslck2CLvE7bz0
  PREFINERY_SECRET: 8nXydjZfx1GwVtc0bH1m
  AWS_ACCESS_KEY_ID: d3ZTVCFbzdFLTJMd8CqS
  AWS_SECRET_ACCESS_KEY: 3AMKn3ZTjs5S3IjTU9TnWHW0mYEW0S1NhKucprzd
  AWS_REGION: us-east-1
  AWS_BUCKET: statics-beatthread-biz

development:
  <<: *default
  LOCAL_UPLOADS: true
  secret_key_base: cyomEPlR9HVylsQp6ug94j0W53wpdgXHVDE2IfNHT2SEK8Vqxaza0xaeIdVZ49oKGo9UsNvvzC0mGcqQC8PhmVsZm3dlB0wkKof7HHfiyW63IZBpMw8J3g2PQ7lEnZMV

test:
  <<: *default
  admin_username: admin
  admin_password: admin
  secret_key_base: jsu3gxqY52dmnFeBVzvgBqlKlW3I0IhUdPnVcqrNIXZW6w6lXsuMPrrlJDkaannG
  LOCAL_UPLOADS: true

production:
  <<: *default
  secret_key_base: JeiE68m0J8UVmW802UPHRvfPnw6Ij7c6Rszgo8bmxrJLzX1VRdNUufumbKuykayk5tfEh8h9mwtdNvRuxhM2FQwoibpT4dMtA0rR050yVIX1mL5FXEyuRbABDfkBGt1s
  AWS_BUCKET:             <%= ENV["AWS_BUCKET"] %>
  AWS_REGION:             <%= ENV["AWS_REGION"] %>
  TWITTER_KEY:            <%= ENV["TWITTER_KEY"] %>
  SC_CLIENT_ID:           <%= ENV["SC_CLIENT_ID"] %>
  TWITTER_SECRET:         <%= ENV["TWITTER_SECRET"] %>
  MIXPANEL_TOKEN:         <%= ENV["MIXPANEL_TOKEN"] %>
  CLOUDFRONT_URL:         <%= ENV["CLOUDFRONT_URL"] %>
  SC_CLIENT_SECRET:       <%= ENV["SC_CLIENT_SECRET"] %>
  PREFINERY_SECRET:       <%= ENV["PREFINERY_SECRET"] %>
  PREFINERY_API_KEY:      <%= ENV["PREFINERY_API_KEY"] %>
  AWS_ACCESS_KEY_ID:      <%= ENV["AWS_ACCESS_KEY_ID"] %>
  MAILGUN_PUBLIC_KEY:     <%= ENV["MAILGUN_PUBLIC_KEY"] %>
  MAILGUN_SECRET_KEY:     <%= ENV["MAILGUN_SECRET_KEY"] %>
  ROLLBAR_ACCESS_TOKEN:   <%= ENV["ROLLBAR_ACCESS_TOKEN"] %>
  AWS_SECRET_ACCESS_KEY:  <%= ENV["AWS_SECRET_ACCESS_KEY"] %>
  MAILGUN_DOMAIN:         <%= ENV['MAILGUN_DOMAIN'] %>
  MAILGUN_USERNAME:       <%= ENV['MAILGUN_USERNAME'] %>
  MAILGUN_PASSWORD:       <%= ENV['MAILGUN_PASSWORD'] %>
  WEBHOOK_URL:            <%= ENV['WEBHOOK_URL'] %>
